@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Threader.</h1>
    <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login</a>
    <a asp-controller="Auth" asp-action="Register" class="btn btn-secondary">Register</a>

</div>
